/* Glopal */
.pacifico {
    font-family: "Pacifico", serif;
}
.pt-sans-caption{
    font-family: "PT Sans Caption", serif;
}
.righteous {
    font-family: "Righteous", serif;
}
body {
    background-color:#f7ecde;
}
::selection {
    background-color:#fec260 ;
}
/* Header */
header h1 {
    font-size: 50px;
    font-weight: 500;
}
header h1::before {
    content: "";
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height:25%;
    background-color:#fec260;
    z-index: -1;
    transition: 0.4s;
}
header h1:hover::before{
    height: 80%;
}
/* Start Control Content */
.control  .container{
    border-top:3px dotted #000;
    border-bottom:3px dotted #000;
}
.control .title h1,
.control .title i {
    font-size: 25px;
}
.control .title {
    background-image: linear-gradient(to right, #3ca55c, #b5ac49 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.control .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d99c39;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}
.control .form-control.is-valid:focus {
    border-color: #198754;
    box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25);
}
.control .form-control.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25);
}
/* End Control Content */
/* Start Display Table */
.table td {
    vertical-align: middle;
}

/* End Display Table */

/* Start FrameWork */

.btn-submit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #d1512d;
    --bs-btn-border-color: #d1512d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb4120;
    --bs-btn-hover-border-color: #a03315;
}
.btn-visit{
    --bs-btn-color: #fff;
    --bs-btn-bg: #9eb23b;
    --bs-btn-border-color: #9eb23b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8a9e23;
    --bs-btn-hover-border-color: #6e8018;
    color:#FFF;
}
